<section class="users-section">
  <ul class="users-list">
  <% @friends.reverse.each do |request|%>
    <%= render partial: 'decline', locals: { request: request } %>
  <% end %> 
  </ul>
</section>